<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title th:text="${title}">Insert title</title>
</head>
<body>
<h1 th:text="${subTitle}"></h1>

<span th:text="${user.name}"></span>
<span th:text="${user.surname}"></span>
<br>
<span th:if="${user.email}" th:text="${user.email}"></span>
<span th:if="${user.email == null}">El usuario no tiene correo</span>
</body>
</html>
